<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <script src="/assets/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <% if (message) { %>
    <h3><%=message %></h3>
<% } %>

  <% if (!username) { %>
  <h3>Ты не залогинен!</h3>
  <h1><a href="login">Вход</a></h1>
  <% } else{ %>
  <h2>Приветствуем, <%=username %>!</h2>
  <h4><a href="users">Список пользователей</a></h4>
  <h4><a href="createUser">Добавить пользователя</a></h4>
  <h4><a href="deleteUser">Удалить пользователя</a></h4>
  <h4><a href="employees">Список сотрудников</a></h4>
  <h4><a href="createEmployee">Добавить сотрудника</a></h4>
  <h4><a href="deleteEmployee">Удалить сотрудника</a></h4>
  <h4><a href="sessions">Список сессий</a></h4>
  <h4><a href="deleteSessions">Удалить сессию</a></h4>
  <h4><a href="createSectors">Добавить сектор</a></h4>
  <h4><a href="deleteSectors">Удалить сектор</a></h4>
  <h4><a href="updateSectors">Редактирование секторов</a></h4>
  <h4><a href="createProducts">Добавить строительное изделие</a></h4>
  <h4><a href="deleteProducts">Удалить строительное изделие</a></h4>
  <h4><a href="updateProducts">Редактирование строительных изделий</a></h4>
  <h4><a href="deleteAcceptances">Удалить принятое строительное изделие</a></h4>
  <h4><a href="updateAcceptances">Редактирование принятых строительных изделий</a></h4>
  <h4><a href="deleteIssuances">Удалить выданное строительное изделие</a></h4>
  <h4><a href="updateIssuances">Редактирование выданных строительных изделий</a></h4>
  <h1><a href="/">На главное меню</a></h1>
  <% } %>

</body>

</html>