<!DOCTYPE html>
<html>

<head>
  <title>Index Page</title>
  <script src="/assets/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <% if (message) { %>
    <h3><%=message %></h3>
<% } %>

  <% if (!username) { %>
  <h3>Ты не залогинен!</h3>
  <h1><a href="login">Вход</a></h1>
  <% } else if(username!='andy') { %> <%# (TODO: проверять права доступа юзера нормально) корчое сделать отдельную кнопку для админов!!!!!!!!!!!!! %> 
  <h2>Привет, мой друг <%=username %>. Ты обычный пользователь</h2>
  <h4><a href="acceptProduct">Принять строительное изделие</a></h4>
  <h4><a href="issueProduct">Выдать строительное изделие</a></h4>
  <h4><a href="employees">Список сотрудников</a></h4>
  <h4><a href="products">Список строительных изделий</a></h4>
  <h4><a href="acceptances">Принятые строительные изделия</a></h4>
  <h4><a href="issuances">Выданные строительные изделия</a></h4>
  <h4><a href="sectors">Список секторов</a></h4>
  <h1><a href="logout">Выход</a></h1>
  <% } else{ %>
  <h2>Привет, мой друг <%=username %>. Ты Админ!</h2>
  <h4><a href="createUser">Добавить пользователя</a></h4>
  <h4><a href="acceptProduct">Принять строительное изделие</a></h4>
  <h4><a href="issueProduct">Выдать строительное изделие</a></h4>
  <h4><a href="users">Список пользователей</a></h4>
  <h4><a href="employees">Список сотрудников</a></h4>
  <h4><a href="sessions">Список сессий</a></h4>
  <h4><a href="products">Список строительных изделий</a></h4>
  <h4><a href="acceptances">Принятые строительные изделия</a></h4>
  <h4><a href="issuances">Выданные строительные изделия</a></h4>
  <h4><a href="sectors">Список секторов</a></h4>
  <h1><a href="logout">Выход</a></h1>

  <% } %>

</body>

</html>