<!DOCTYPE html>
<html>

<head>
    <title>Index Page</title>
    <script src="/assets/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

<% if (!username) { %>
    <h3>Ты не залогинен чорт!</h3>
    <a href= "login">Вход</a> 
<% } else { %>
    <h3>Привет, мой друг <%=username %></h3>
    <a href= "createUser">Добавить пользователя</a> 
    
    <h1></h1><a href= "logout">Выход</a>
<% } %>


</body>

</html>