<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script src="/assets/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <form method='POST' action="/auth/login">
        <h2>Вход в систему</h2>
        <input type="text" name="username" placeholder="Логин" required autofocus="" autocomplete="off" />
        <input type="password" name="password" placeholder="Пароль" required autocomplete="off" />
        <button type='submit'>Вход</button>
    </form>

</body>

</html>