<!DOCTYPE html>
<html>

<head>
  <title>sectors</title>
  <script src="/assets/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

  <% if (!username) { %>
  <h3>Ты не залогинен чорт!</h3>
  <h1><a href="login">Вход</a></h1>
  <% } else{ %>
  <h4>Вход выполнен через учетную запись: <%=username %></h4>
  <table>
    <caption>Список секторов</caption>
    <tr>
      <th>Номер</th>
      <th>Название сектора</th>
    </tr>
    <% for (let sector of sectors) { %>
    <tr>
      <td><%=sector.id %></td>
      <td><%=sector.sectorName %></td>
    </tr>
    <%} %>

  </table>
  <h1><a href="/">На главное меню</a></h1>

  <% } %>

</body>


</html>